{%extends 'base.html.twig' %}

{% block title %}Fusion{% endblock %}
{% block body %}
    <h1>{{ header.1 }}</h1>

    {% for record in records %}
        <li>{{ record.GivenName }}</li>
    {% endfor %}



{% endblock %}
